<nav>
      <div class="logo">
        <figure>
          <img src="./images/logo.png" alt="logo" />
        </figure>
      </div>
      <ul class="navbar">
        <li><a href="#section_one" class="active">Home</a></li>
        <li><a href="#section_two">About</a></li>
        <li><a href="#section_three">Projects</a></li>
        <li><a href="#section_four">Contacts</a></li>
      </ul>
      <div class="toggle_btn">
        <i class="fas fa-bars"></i>
      </div>
    </nav>

    