 <section class="secondSec" id="section_two">
      <div class="S_content">
        <div class="content">
          <p><span class="line bColor"></span>Something</p>
          <h1 class="wc">About</h1>
          <h1 class="bBack main_name">
            Me
            <span class="arrow"
              ><img src="./images/arrow-b.png" alt="arrow"
            /></span>
          </h1>
          <p class="para">
            I am a computer science student and i work as an infrastructure
            engineer. I'm passionate about technology especially about software
            industry.
          </p>
        </div>
        <div class="cardWrapper">
          <div class="card">
            <h1 class="bBack">3+</h1>
            <p>Yesrs of Experience</p>
          </div>
          <div class="card">
            <h1 class="bBack">230+</h1>
            <p>Projects Completed</p>
          </div>
          <div class="card">
            <h1 class="bBack">7</h1>
            <p>Perticular Skills</p>
          </div>
        </div>
      </div>
      <div class="d_content">
        <div class="ticket">
          <img src="./images/Coding-Enthusiasist.png" alt="ticket" />
          <p class="ticket_data">Coding Enthusiasist</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
        </div>
        <div class="ticket">
          <img src="./images/Infrastructure-Expert.png" alt="ticket" />
          <p class="ticket_data">Infrastructure Expert</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
        </div>
        <div class="ticket">
          <img src="./images/web-Master.png" alt="ticket" />
          <p class="ticket_data">Web Master</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
        </div>
      </div>
    </section>