<section class="thirdSec" id="section_three">
      <div class="content">
        <p><span class="line bColor"></span>My completed</p>
        <h1 class="wc main_name">
          Projects
          <span class="arrow"
            ><img src="./images/arrow-l-b.png" alt="arrow"
          /></span>
        </h1>
        <p class="para">
          I am a computer science student and i work as an infrastructure
          engineer. I'm passionate about technology especially about software
          industry.
        </p>
      </div>

      <div class="pCardWrapper">
        <div class="pCard">
          <div class="c_logo">
            <img src="./images/Tesla.png" alt="logo" />
          </div>
          <img src="./images/2.png" alt="tesla" />
          <h3 class="wc">Tesla</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
          <button class="ios">IOS APP</button>
          <button class="android">ANDROID</button>
        </div>
        <div class="pCard">
          <div class="c_logo border">
            <img src="./images/Slack.png" alt="logo" />
          </div>
          <img src="./images/1.png" alt="tesla" />
          <h3 class="wc">Slack</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
          <button class="ios">IOS APP</button>
          <button class="android">ANDROID</button>
        </div>
        <div class="pCard">
          <div class="c_logo">
            <img src="./images/twitter.png" alt="logo" />
          </div>
          <img src="./images/3.png" alt="tesla" />
          <h3 class="wc">Tesla</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
          <button class="ios">IOS APP</button>
          <button class="android">ANDROID</button>
        </div>
        <div class="pCard">
          <div class="c_logo border">
            <img src="./images/Grab.png" alt="logo" />
          </div>
          <img src="./images/4.png" alt="tesla" />
          <h3 class="wc">Grab</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form
          </p>
          <button class="ios">IOS APP</button>
          <button class="android">ANDROID</button>
        </div>
      </div>
    </section>