  <section class="firstSec" id="section_one">
      <div class="content">
        <p><span class="line pColor"></span>I am</p>
        <h1>Daisy</h1>
        <h1 class="pBack main_name">
          Murillo
          <span class="arrow"
            ><img src="./images/arrow-p.png" alt="arrow"
          /></span>
        </h1>
        <p class="para">
          I am a computer science student and i work as an infrastructure
          engineer. I'm passionate about technology especially about software
          industry.
        </p>
      </div>
      <div class="fBanner">
        <figure>
          <img src="./images/img.png" alt="banner" />
        </figure>
      </div>
    </section>